.sadrzaj {
  margin-bottom: 100px;
  height: auto;
  padding-top: 5%;
}

.text-center{
  display: block;
  background-color: #7BB342;
  padding: 20px;
  color: #fff;
}
.plava{
  background-color: #007DC5;
}
