.usluge {
  padding-top: 200px;
  height: 600px;
  background: linear-gradient(to bottom, rgba(0, 49, 77, 0.8) 0%, rgba(0, 49, 77, 0.8) 100%), url("../../../assets/Slike/iot2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 10%;
}
.sadrzaj {
  margin-bottom: 100px;
  height: auto;
  padding-top: 5%;
  padding-bottom: 100px;
}

.text-center{
  display: block;
  background-color: #7BB342;
  padding: 20px;
  color: #fff;
}
.plava{
  background-color: #007DC5;
}
a:hover {
  text-decoration: none;
}
img {
  height: 225px;
}
.saznaj {
  display: block;
  text-align: center;
}
.card-body {
  padding: 0px !important;
}
