
  <!--<footer *ngIf="footer.visible" class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Lokalno partnerstvo za obrazovanje odraslih</small>
      </div>
    </div>
  </footer>-->
  <footer *ngIf="footer.visible">
    <div class="row">
      <div class="col-lg-6">
        <div class="footer-top">
          <div class="footer-title">
              <h5>Lokalno partnerstvo za obrazovanje odraslih</h5>
              <p>Bosansko-podrinjskog kantona Goražde</p>
              <div class="adresa">
                  <p>Panorama bb</p>
                  <p>73000 Goražde</p>
                  <p>Bosna i Hercegovina</p>
              </div>

          </div>
      </div>
      </div>
      <div class="col-lg-6">
        <div class="footer-top">
          
            
      
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="footer-bottom">
          <hr>
          <p class="" style="float: left;">
            Ova stranica je urađena u okviru projekta : "Jačanje mreže vladinih i nevladinih aktera u oblasti obrazovanja odraslih",
            koji finansira DVV International - Ured za BiH.
          </p>
          <img src="../../../assets/Slike/logo dvv.png" class="text-white" style="height: 80px; float: left;">
          

      </div>
      </div>
      <div class="col-lg-6">
      
      </div>
    </div>
</footer>
  <!--<footer *ngIf="footer.visible" class="page-footer font-small bg-light futer"></footer>
  <div class="container">
    <div class="row pb-3 mt-5 justify-content-center">

        <app-alert-dialog class="mb-5 flex-center justify-content-center">
          <a class="fb-ic ml-5">
            <i class="fa fa-facebook-f fa-lg text-white mr-4"> </i>
          </a>
          <a class="tw-ic">
            <i class="fa fa-twitter fa-lg text-white mr-4"> </i>
          </a>
          <a class="ins-ic">
            <i class="fa fa-instagram fa-lg text-white mr-4"> </i>
          </a>
          </app-alert-dialog>
      </div>
    </div>
  <div class="footer-copyright text-center text-dark py-3">
    <p>© 2020 Lokalno partnerstvo za obrazovanje odraslih. All rights reserved.</p>
  </div>
</footer>-->
