.navigacija {
  margin-right: auto;
  margin-left: auto;
}
.overlay {
  margin-top: 40px;
}
h3{
  color:black;
  display: inline-block;
  padding-left: 2%;
  font-family: sans-serif;
}
.search-f
{
  display: inline-block;
  padding-top: 10px;
  margin-left: 700px;

}
