
<nav *ngIf="nav.visible">
  <div class="top-navigation">
    <div class="heder pl-2 pt-2">
      <h3>Lokalno partnerstvo za obrazovanje odraslih</h3>
      <div class="search-f">
      <form action="pages/zzjz_search.php" class="form-inline" method="post"><input class="form-control" type="text" name="search" placeholder="Unesi pojam..."><span><button name="submit" class="btn btn-secondary" type="submit">Traži</button></span></form>
    </div></div>

      <div class="top-navigation-bar">
          <a class="mobile-nav-icon">
          </a>
      </div>
      <div class="full_nav">
          <div class="row" onmouseleave="closeNav_1(), closeNav_2(), closeNav_3()" >
              <ul class="main_navigation_banner navigacija" role="banner">
                  <li><a [routerLink]="['/']" routerLinkActive="router-link-active" ><span>Home</span></a></li>
                  <li><a href="#"><span onmouseover="openNav_1()">Usluge</span></a></li>
                  <li><a [routerLink]="['/vijesti']" routerLinkActive="router-link-active" ><span onmouseover="openNav_2()">Vijesti</span></a></li>
                  <li><a href="#"><span onmouseover="openNav_3()">Oblasti</span></a></li>
                  <li><a href="pages/careers.php"><span onclick="openNav_4()" onmouseover="closeNav_1(), closeNav_2(), closeNav_3()">Publikacije i podaci</span></a></li>
                  <li><a href="pages/blog.php"><span onclick="openNav_4()" onmouseover="closeNav_1(), closeNav_2(), closeNav_3()">O nama</span></a></li>
                  <li *ngIf="user === null"><a routerLink="/login">Login</a></li>
                  <li *ngIf="user !== null"><a routerLink="/login">Dashboard</a></li>
              </ul>
              <div id="myNav_1" class="overlay">
                  <div class="navigation_container">
                      <div class="sub_nav-l">
                          <ul class="nav_con_left">
                              <li><a href="#" id="nc_l-1-1">Kursevi</a></li>
                              <li><a href="#" id="nc_l-1-2">Praktična obuka</a></li>
                              <li><a href="#" id="nc_l-1-3">Događaji</a></li>
                          </ul>
                      </div>
                      <div class="sub_nav-r">
                          <div id="nc_r-1-1" class="row">
                            <div style="display: inline-block;">
                                  <div><a class="title-subnav" href="pages/about.php">Kursevi</a></div>
                                  <div>
                                      <p class="p-subnav-right">Kratak info</p>
                                  </div>
                                  <p class="pg-meni-01">Mi pratimo, proučavamo, sprečavamo i suzbijamo bolesti kod ljudi odnosno tražimo odgovore na pitanja učestalosti i rasprostranjenosti bolesti, prirodnim zakonitostima njihovog nastanka (etiologija), održavanja ili iščezavanja iz ljudske populacije, a sve u cilju planskog utjecanja da se smanji učestalost bolesti ili da se neke bolesti čak posve iskorijene mjerama sprečavanja prije njihove pojave i suzbijanja, tj. direktne intervencije, ako su se već pojavile, da bi oboljelih bilo što manje.</p>

                                </div>
                                <div style="display: inline-block; background-color: aqua; margin-left: 10px;">
                                  <img src="https://storage.radiosarajevo.ba/image/527220/1180x732/Rs1%20(1).jpg" alt="" width="500px" height="500px">
                                </div>

                          </div>
                          <div id="nc_r-1-2">
                              <ul>
                                  <div><a class="title-subnav" href="pages/news.php">Mikrobiologija</a></div>
                                  <div>
                                      <p class="p-subnav-right">Kratak info</p>
                                  </div>
                                  <p class="pg-meni-01">
                                      Mi vršimo uzorkovanje materijala za potrebe mikrobiloških i fizičko-hemijskih analiza na terenu i vrši mikrobiološke analize hrane, vode, vazduha, briseva predmeta opšte upotrebe i predmeta opšte upotrebe.</p>
                              </ul>
                          </div>
                          <div id="nc_r-1-3">
                              <ul>
                                  <div><a class="title-subnav" href="#">Životna sredina</a></div>
                                  <div>
                                      <p class="p-subnav-right">Kratak info</p>
                                  </div>
                                  <p class="pg-meni-01">Mi pratmo, analiziramo i ocjenjujemo uticaj okoline i hrane na zdravstveno stanje stanovništva na području kantona, te predlažemo mjere za unapređenje stanja i zaštite zdravlja ljudi i životne sredine, predlažemo i provodimo aktivnosti na unapređenju sistema zdravstvene bezbjednosti proizvodnje i prometa životnih namirnica, vode i predmeta opšte upotrebe u cilju smanjenja rizika od obolijevanja i drugih štetnih posljedica po zdravlje, te pripremamo, planiramo i realizujemo programe za praćenje stanja i očuvanja životne sredine.</p>
                              </ul>
                          </div>
                          <div id="nc_r-1-4">
                              <ul>
                                  <div><a class="title-subnav" href="#">Socijalna medicina</a></div>
                                  <div>
                                      <p class="p-subnav-right">Kratak info</p>
                                  </div>
                                  <p class="pg-meni-01">Mi istražujemo međuzavisnost zdravstvenoga stanja stanovništva i socijalno-ekonomskih prilika u našoj zajednici. Proučavamo sistav i organizaciju zdravstvene zaštite te mogućnosti primjene suvremenih postignuća na taj sistem. Takođe se bavimo pronalaženjem socijalnih mjera za unaprjeđenje zdravlja stanovništva u kantonu.</p>
                              </ul>
                          </div>
                          <a href="javascript:void(0)" class="closebtn" onclick="closeNav_1()"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                      </div>
                  </div>
              </div>
              <div id="myNav_2" class="overlay">
                  <div class="navigation_container">
                      <div class="sub_nav-l">
                          <ul class="nav_con_left">
                              <div>
                                  <p class="p-subnav">Saznaj više</p>
                              </div>
                              <li><a href="services/analytics.php" id="nc_l-2-1">Važne vijesti</a></li>
                              <li><a href="services/public_policy.php" id="nc_l-2-2">Sve vijesti</a></li>
                              <li><a href="services/skill_development.php" id="nc_l-2-3">Oglasi</a></li>
                              <li><a href="services/business_initiatives.php" id="nc_l-2-4">Javne nabavke</a></li>
                          </ul>
                      </div>
                      <div class="sub_nav-r">
                          <div id="nc_r-2-1">
                              <ul>
                                  <div><a class="title-subnav" href="services/analytics.php">Analitika</a></div>
                                  <div>
                                      <p class="p-subnav-right">Brzi link</p>
                                  </div>
                                  <li><a href="#"></a></li>
                              </ul>
                          </div>
                          <div id="nc_r-2-2">
                              <ul>
                                  <div><a class="title-subnav" href="services/public_policy.php">Javne politike</a></div>
                                  <div>
                                      <p class="p-subnav-right">Brzi link</p>
                                  </div>
                                  <li><a href="#"></a></li>
                              </ul>
                          </div>
                          <div id="nc_r-2-3">
                              <ul>
                                  <div><a class="title-subnav" href="services/skill_development.php">Razvoj vještina</a></div>
                                  <div>
                                      <p class="p-subnav-right">Brzi link</p>
                                  </div>
                                  <li><a href="#"></a></li>
                              </ul>
                          </div>
                          <div id="nc_r-2-4">
                              <ul>
                                  <div><a class="title-subnav" href="services/business_initiatives.php">Poslovni konsalting</a></div>
                                  <div>
                                      <p class="p-subnav-right">Brzi link</p>
                                  </div>
                                  <li><a href="#"></a></li>
                              </ul>
                          </div>
                          <a href="javascript:void(0)" class="closebtn" onclick="closeNav_2()"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                      </div>
                  </div>
              </div>
              <div id="myNav_3" class="overlay">
                  <div class="navigation_container">
                      <div class="sub_nav-l">
                          <ul class="nav_con_left">
                              <div>
                                  <!--<p class="p-subnav">Saznaj više</p>-->
                              </div>
                              <li><a href="services/traditional_industries.php" id="nc_l-3-1">Pružaoci usluga</a></li>
                              <li><a href="services/new_technologies.php" id="nc_l-3-2">Razvoj kapaciteta</a></li>
                              <li><a href="services/public_sector.php" id="nc_l-3-3">Korisnici usluga</a></li>
                              <li><a href="" id="nc_l-3-4">Okruženje za obrazovanje odraslih</a></li>
                          </ul>
                      </div>
                      <div class="sub_nav-r">
                          <div id="nc_r-3-1">
                              <ul>
                                  <div><a class="title-subnav" href="services/traditional_industries.php">Pružaoci usluga</a></div>
                                  <div>
                                      <p class="p-subnav-right">Brzi link</p>
                                  </div>
                                  <li><a href="#"></a></li>
                              </ul>
                          </div>
                          <div id="nc_r-3-2">
                              <ul>
                                  <div><a class="title-subnav" href="services/new_technologies.php">Razvoj kapaciteta</a></div>
                                  <div>
                                      <p class="p-subnav-right">Brzi link</p>
                                  </div>
                                  <li><a href="services/digital.php">Zašto su važne digitalne tehnologije?</a></li>
                                  <li><a href="services/digital_skills.php">Saznaj zašto su digitalne vještine važne</a></li>
                                  <li><a href="services/digital_business.php">Vidi kako možeš razviti digitalni biznis</a></li>
                              </ul>
                          </div>
                          <div id="nc_r-3-3">
                              <ul>
                                  <div><a class="title-subnav" href="services/public_sector.php">Korisnici usluga</a></div>
                                  <div>
                                      <p class="p-subnav-right">Brzi link</p>
                                  </div>
                                  <li><a href="#"></a></li>
                              </ul>
                          </div>
                          <div id="nc_r-3-4">
                            <ul>
                                <div><a class="title-subnav" href="services/public_sector.php">Okruženje za obrazovanje odraslih</a></div>
                                <div>
                                    <p class="p-subnav-right">Brzi link</p>
                                </div>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                          <a href="javascript:void(0)" class="closebtn" onclick="closeNav_3()"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="mobile-nav">
      <div class="responsive-menu">
          <div class="responsive-menu-container">
              <div>
                  <div class="row">
                      <div class="box75">
                          <li><a href="#link">Zdravstvene oblasti</a></li>
                      </div>
                      <div class="box25-m1"><i class="ion-minus-round"></i></div>
                  </div>
                  <div class="row-m1">
                      <ul class="sub-menu">
                          <li><a href="#">Epidemiologija</a></li>
                          <li><a href="#">Mikrobiologija</a></li>
                          <li><a href="#">Životna sredina</a></li>
                          <li><a href="#">Socijalna medicina</a></li>
                      </ul>
                  </div>
              </div>
              <div>
                  <div class="row">
                      <div class="box75">
                          <li><a href="#link">Vijesti</a></li>
                      </div>
                      <div class="box25-m2"><i class="ion-minus-round"></i></div>
                  </div>
                  <div class="row-m2">
                      <ul class="sub-menu">
                          <li><a href="#">Važne vijesti</a></li>
                          <li><a href="#">Sve vijesti</a></li>
                          <li><a href="#">Oglasi</a></li>
                          <li><a href="#">Javne nabavke</a></li>
                      </ul>
                  </div>
              </div>
              <div>
                  <div class="row">
                      <div class="box75">
                          <li><a href="#link">Urgentno</a></li>
                      </div>
                      <div class="box25-m3"><i class="ion-minus-round"></i></div>
                  </div>
                  <div class="row-m3">
                      <ul class="sub-menu">
                          <li><a href="#">Tradicionalna industrija</a></li>
                          <li><a href="#">Nove tehnologije</a></li>
                          <li><a href="#">Javni sektor</a></li>
                      </ul>
                  </div>
              </div>
              <div class="row">
                  <div class="box75">
                      <li><a href="pages/careers.php">Podaci</a></li>
                  </div>
                  <div class="box25-4"></div>
              </div>
              <div class="row">
                  <div class="box75">
                      <li><a href="pages/blog.php">O nama</a></li>
                  </div>
                  <div class="box25-4"></div>
              </div>
          </div>
      </div>
  </div>

</nav>
