<div class="vijestiBanner">
  <p class="vijest">O nama</p>


</div>
<div class="row">
  <p class="podnaslov">Lokalno partnerstvo za obrazovanje odraslih</p>
  fbsjbfjskbgjksbgjksbjkgbsjkbgjksbgjksbjkgbsjkbgjksbgjkbsjkgbjkdsbgjkbdkjgbdjkbgjkdbgjkbdkjgdkjgjkdhjkdfgjkfhgjkhfj
</div>
<div class="row podnaslov">
<p>Partneri</p>


</div>

<div class="row red">
    <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3 kolona">
    <img class="slikepartneri aldi" src="../../../assets/Slike/aldilogo.png"><br>
    <a href="http://aldi.ba/" target="_blank">Udruženje za lokalne razvojne inicijative</a>
    </div>
    <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3 kolona">
      <img class="slikepartneri" src="../../../assets/Slike/vladalogo.png"><br>
    <a href="http://mo.bpkg.gov.ba/" target="_blank"> Ministarstvo za obrazovanje BPK Goražde</a>
    </div>
    <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
      <img class="slikepartneri" src="../../../assets/Slike/vladalogo.png"><br>
    <a href="http://www.szzbpk.ba/" target="_blank">Služba za zapošljavanje BPK Goražde</a>
    </div>
    <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
      <img class="slikepartneri" src="../../../assets/Slike/gradgorazdelogo.png"><br>
    <a href="http://www.gorazde.ba/" target="_blank">Grad Goražde</a>
    </div>
  </div>

  <div class="row red red2">

      <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
        <img class="slikepartneri" src="../../../assets/Slike/privrednalogo.png"><br>
    <a href="https://www.pkbpk.com/" target="_blank">Privredna komora BPK Goražde</a>
      </div>

      <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
        <img class="slikepartneri" src="../../../assets/Slike/poslodavcilogo.png"><br>
    <a href="https://www.upbpk.com/" target="_blank">Udruženje poslodavaca BPK Goražde</a>
      </div>
      <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
        <img class="slikepartneri" src="../../../assets/Slike/obrtnickalogo.png"><br>
    <a href="https://okbpk.com/" target="_blank">Obrtnička komora BPK Goražde</a>
      </div>
      <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
        <img class="slikepartneri" src="../../../assets/Slike/skolalogo.png"><br>
    <a href="https://www.bpkg.gov.ba/obrazovanje/3186/srednja-strucna-skola-dzemal-bijedic" target="_blank">SSŠ 'Džemal Bijedić' Goražde</a>

      </div>
    </div>
    <div class="row plavi">
      <div class="col-lg-4">
        <i class="ion-ios-people"></i>
        <p>8 partnera</p>
      </div>
      <div class="col-lg-4">
        <i class="ion-ios-location"></i>
        <p>Bosansko podrinjski kanton Goražde</p>
      </div>
      <div class="col-lg-4">
        <i class="ion-ios-book"></i>
        <p>Obrazovanje odraslih</p>
      </div>



    </div>

