.pozadina {
  background:linear-gradient(rgba(22, 99, 214, 0.39), rgba(34, 104, 209, 0.582)), url("onama1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.onama{
  height: 920px;
  background-color: rgba(241, 240, 240, 0.096);
  padding-top:110px;

}

.slikepartneri{
  display: block;
  margin: 0 auto;
  height: 85px;
  width: auto;

}
.red{
  padding: 0 110px;
}

.red2{
  padding-top: 70px;
  padding-bottom: 100px;
}
a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #0775cb;
  margin-top: 25px;
  font-size: 14px;

}
.text{
  text-align: justify;
  padding: 40px 80px;
}

.plavi{
  background:linear-gradient(rgba(22, 99, 214, 0.719), rgba(34, 104, 209, 0.712)), url("plavoslika1.jpg");
  background-position:ctop;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  margin-top: 35px;
  margin-bottom: 70px;
  padding-top: 3%;
  padding-bottom: 3%;
}
.plavi p{
  color: #fff;
  font-size: 25px;
  text-align: center;
}



i{
  display: block;
  font-size: 75px;
  text-align: center;
  color: #fff;

}
.podnaslov{
  margin-top: 100px;
  display: block;
  font-size: 30px;
  color: #0775cb;
  text-align: center;
  width: 30%;
  margin-left: 35%;
  font-weight: 100;
  padding: 70px 0;
}
