<div class="row onama">
  <div class="col-lg-6 d-sm-none d-md-block pozadina">

  </div>
  <div class="col-lg-6 col-sm-12 col-xs-12">
    <h1 class="text-center mt-5 pt-5" style="color: #0775cb">Lokalno partnerstvo za obrazovanje odraslih</h1>
    <br>

    <p class="text">
      Asocijacija za lokalne razvojne inicijative iza sebe ima više od 20 godina iskustva u radu na ekonomskom razvoju, razvoju privatnog sektora i osnaživanju građana da aktivno učestvuju u ekonomskom, socijalnom i političkom životu Bosne i Hercegovine.

Tokom 20 godina organizacija je uspješno prošla kroz četri faze tranzicije kako bi se profilirala u dinamičnu organizaciju sposobnu da planira, organizuje i provodi inicijative koje doprinose razvoju zajednice u digitalnom dobu.

Tokom 1990-tih godina svoj fokus smo posvetili razvoju demokratskog društva sa ekonomski nezavisnim građanima. Početkom novog milenija svoj fokus smo usmjerili ka kreiranju boljih i efikasnijih javnih politika koje su mogle obezbjediti snažnije ekonomske i socijalne promjene u društvu Bosne i Hercegovine. Novom strategijom iz 2008 godine svoj fokus smo pomjerili ka razvoju znanja i vještina koje predstavljaju ključni generator razvoja i rasta životnog standarda građana.


    </p>
    <p class="text">
      Promjene koje donosi rapidna digitalizacija društva ponovo je uticala da organizacija izoštri svoj fokus kako bi svoje usluge prilagodila zahtjevima i izazovima digitalnog doba. Danas, organizacija je fokusirana na ekonomski, socijalni i politički razvoj na način da iskoristi prednosti koje donose digitalne tehnologije za veću uključenost građana u društvenom i ekonomskom životu u zemlji.
    </p>
  </div>

</div>
<div class="row podnaslov">
<p>Partneri</p>


</div>

<div class="row red">
    <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3 kolona">
    <img class="slikepartneri aldi" src="../../../assets/Slike/aldilogo.png"><br>
    <a href="http://aldi.ba/" target="_blank">Udruženje za lokalne razvojne inicijative</a>
    </div>
    <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3 kolona">
      <img class="slikepartneri" src="../../../assets/Slike/vladalogo.png"><br>
    <a href="http://mo.bpkg.gov.ba/" target="_blank"> Ministarstvo za obrazovanje BPK Goražde</a>
    </div>
    <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
      <img class="slikepartneri" src="../../../assets/Slike/vladalogo.png"><br>
    <a href="http://www.szzbpk.ba/" target="_blank">Služba za zapošljavanje BPK Goražde</a>
    </div>
    <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
      <img class="slikepartneri" src="../../../assets/Slike/gradgorazdelogo.png"><br>
    <a href="http://www.gorazde.ba/" target="_blank">Grad Goražde</a>
    </div>
  </div>

  <div class="row red red2">

      <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
        <img class="slikepartneri" src="../../../assets/Slike/privrednalogo.png"><br>
    <a href="https://www.pkbpk.com/" target="_blank">Privredna komora BPK Goražde</a>
      </div>

      <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
        <img class="slikepartneri" src="../../../assets/Slike/poslodavcilogo.png"><br>
    <a href="https://www.upbpk.com/" target="_blank">Udruženje poslodavaca BPK Goražde</a>
      </div>
      <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
        <img class="slikepartneri" src="../../../assets/Slike/obrtnickalogo.png"><br>
    <a href="https://okbpk.com/" target="_blank">Obrtnička komora BPK Goražde</a>
      </div>
      <div data-aos="zoom-in" data-aos-duration="800" class="col-lg-3">
        <img class="slikepartneri" src="../../../assets/Slike/skolalogo.png"><br>
    <a href="https://www.bpkg.gov.ba/obrazovanje/3186/srednja-strucna-skola-dzemal-bijedic" target="_blank">SSŠ 'Džemal Bijedić' Goražde</a>

      </div>
    </div>
    <div class="row plavi">
      <div class="col-lg-4">
        <i class="ion-ios-people"></i>
        <p>8 partnera</p>
      </div>
      <div class="col-lg-4">
        <i class="ion-ios-location"></i>
        <p>Bosansko podrinjski kanton Goražde</p>
      </div>
      <div class="col-lg-4">
        <i class="ion-ios-book"></i>
        <p>Obrazovanje odraslih</p>
      </div>



    </div>

