<div class="pruzaociUsluga">

</div>
<div class="container-fluid">
  <h3 class="text-center mt-5">Gdje možete steći nova znanja i vještine</h3>
</div>
<div class="container-fluid pb-5">
  <div class="row pedinzi">
    <div class="col-lg-6 box1" style="border-right: solid 1px rgb(192, 189, 189);">
      <h4 class="text-center">U učionici</h4>
      <p class="text-center">
        Vi možete steći potrebne vještine pohađajući programe obrazovanja odraslih koje pružaju pružaoci usluga obrazovanja odraslih
      </p>
      <br>
      <button href="" class="btn btn-primary dugme">Saznaj više</button>
    </div>
    <div class="col-lg-6 box1">
      <h4 class="text-center" style="display: block;">Na radnom mjestu</h4>
      <p class="text-center" style="display: block;">
        Pored pohađanja programa obrazovanja odraslih vi nove vještine možete steći kroz obuku na radnom mjestu koji se organizuju od strane partnera na obrazovanju odraslih
      </p>
      <button href="" class="btn btn-primary dugme" style="display: block;">Saznaj više</button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h3 class="text-center">Želiš saznati više o trenutnim mogućnostima razvoj znanja i vještina?</h3>
</div>

<div class="container-fluid">
  <div class="row donji">
    <div class="col-lg-4 box2" style="background-color: #737373">
      <h4 class="text-center text-white">AITI</h4>
      <br>
      <p class="text-center text-white">
        AITI Vam pruža mogućnost sticanja znanja i vještina u oblasti digitalnih i soft skills vještina
      </p>
      <br>
      <button href="" class="btn btn-primary dugme">Saznaj više</button>
    </div>
    <div class="col-lg-4 box2" style="background-color: #066399ab;">
      <h4 class="text-center text-white">JU SREDNJA STRUČNA ŠKOLA „HASIB HADŽOVIĆ“ GORAŽDE</h4>
      <p class="text-center text-white">
        Srednja stručna škola vam može pomoći sticanju znanja i vještina u oblasti stručnih zanimanja relevantnih za tržište rada
      </p>
      <button href="" class="btn btn-primary dugme">Saznaj više</button>
    </div>
    <div class="col-lg-4 box2" style="background-color: #57832bc2;">
      <h4 class="text-center text-white">PRIVREDNA KOMORA BPK GORAŽDE</h4>
      <p class="text-center  text-white">
        Privredna komora BPK Goražde vam može pomoći u pronalasku organizacije u kojoj možete steći praktično iskustvo u radu u industriji
      </p>
      <button href="" class="btn btn-primary dugme">Saznaj više</button>
    </div>
  </div>
</div>

<div class="row zadnji">
  <div class="col-lg-6" style="padding-top: 60px;">
    <h4 class="text-center">Saznaj koje su trenutno obuke u toku</h4>
      <p class="text-center">
        Pogledaj nove kurseve, praktične obuke i događaje koji ti mogu pomoći da razviješ svoja znanja i vještine.
      </p>
      <button href="" class="btn btn-primary dugme">Saznaj više</button>
  </div>
  <div data-aos="fade-left"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine" class="col-lg-6 slikaaa ">

  </div>
</div>
