.btn-link:hover {
  text-decoration: none;
}
.button:focus {
  outline: none;
  border: 0;
}
button{
  border: 0;
  outline: none;
}
.btn-link {
  border: 0;
  text-decoration: none;
}
.bs-example{
  margin: 20px;
}
.accordion .fa{
  margin-right: 0.5rem;
}

.usluge {

  height: 500px;
  background: linear-gradient(to right, rgb(12, 8, 8) 5%,rgba(41, 96, 168, 0) 95%), url("../../../assets/Slike/publikacijebaner.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
.vijest{
  padding-top: 260px;
  padding-left: 130px;
  font-size: 55px;
  color:rgba(211, 211, 211, 0.801);
  letter-spacing: 8px;
}
.publik {
  min-height: 500px;
}
