<div class="kontent">
  <h3 class="text-center">Oblasti</h3>
  <div class="row h-auto">
    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 flip-card d-flex justify-content-center">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h4 class="mb-5">Pružaoci usluga</h4>
          <i class="fa fa-4x fa-user mb-4"></i>
        </div>
        <div class="flip-card-back pt-3">
          <button class="btn btn-secondary">Saznaj više</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h4 class="mb-5">Razvoj kapaciteta</h4>
          <i class="fa fa-4x fa-terminal mb-4"></i>
        </div>
        <div class="flip-card-back pt-3">
          <button class="btn btn-secondary">Saznaj više</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h4 class="mb-5">Korisnici usluga</h4>
          <i class="fa fa-4x fa-users mb-4"></i>
        </div>
        <div class="flip-card-back pt-3">
          <button class="btn btn-secondary">Saznaj više</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h4 class="mb-5">Okruženje za obrazovanje odraslih</h4>
          <i class="fa fa-4x fa-briefcase mb-4"></i>
        </div>
        <div class="flip-card-back pt-3">
          <button class="btn btn-secondary">Saznaj više</button>
        </div>
      </div>
    </div>
  </div>

</div>
