<form (ngSubmit)="onSubmit(rteForm.value)" #rteForm="ngForm">

  <div class="form-group">
    <label for="naslov">Naslov</label>
    <input
      type="text"
      #vijestNaslov="ngModel"
      [ngClass]="{'is-invalid': vijestNaslov.errors && vijestNaslov.touched}"
      [(ngModel)]="vijest.naslov"
      name="Naslov"
      id="naslov"
      class="form-control"
      required>
    <div [hidden]="!vijestNaslov.errors?.required" class="invalid-feedback">
      Naslov vijesti je obavezan
    </div>
  </div>
  <div class="form-group">
    <label for="price">Kategorija</label>
    <input
      type="text"
      #vijestKategorija="ngModel"
      [ngClass]="{'is-invalid': vijestKategorija.errors && vijestKategorija.touched}"
      [(ngModel)]="vijest.kategorija"
      name="kategorija" id="kategorija"
      class="form-control"
      required>
      <div [hidden]="!vijestKategorija.errors?.required" class="invalid-feedback">
        Kategorija je obavezna
      </div>
  </div>
  <div class="form-group">
      <ejs-richtexteditor #fromRTE #name='ngModel' [(value)]='value' required name="name" [(ngModel)]="value"
            (created)="rteCreated()"></ejs-richtexteditor>
            <div *ngIf="(name.invalid && name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                    Value is required.
                </div>
            </div>
  </div>
  <input type="reset" value="Reset" class="btn btn-secondary mt-4">
  <input type="submit" value="Dodaj vijest" class="btn btn-secondary pull-right mt-4">
</form>
