.aktSlika {
  background: url('../../../assets/Slike/iot2.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}
.row {
  background-color: rgba(248, 248, 248, 0.877);
  height: auto;
}

