<div class="row aktuelno">
  <div class="col-lg-6">
    <h1 class="text-center mt-5 pt-5" style="color: black">What is IoT? The internet of things explained</h1>
    <br>

    <p class="text-center pl-5 pr-5">
      The internet of things (IoT) is a network of connected smart devices providing rich data, but it can also be a security nightmare.
    </p>
    <p class="text-center pl-5 pr-5">
      The internet of things (IoT) is a catch-all term for the growing number of electronics that aren't traditional computing devices, but are connected to the internet to send data, receive instructions or both.
    </p>
  </div>
  <div class="col-lg-6 aktSlika">

  </div>
</div>
